<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Gladdit</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <style>
            body { padding: 50px; }
        </style>
        <script type="text/javascript" src="/static/scripts/jquery.js"></script>
        <script type="text/javascript" src="/static/scripts/main.js"></script>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="/about/">About</a>
                <a href="/post">Post</a>
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            </nav>
        </header>
