<%- include('../partials/head') %>
        <main>
            <h1>about this page</h1>
            <p>
                 This is a page I'm making to learn about web development.
                If you're reading this you've gone down a very deep hole.
            </p>
        </main>
<%- include('../partials/footer') %>
