<%- include('../partials/head') -%>
        <form method="post">
            Title:<br>
            <input type="text" name="title" required><br>
            Post:<br>
            <textarea name="post" rows="10" cols="30" required>
            </textarea><br>
            <input type="submit" value="Submit">
        </form>
<%- include('../partials/footer') -%>
